<div class="mainContent submitPage">
	<div class="submitContent">
		<ul class="row">
			<li>
				<a href="#/notsupported">
					<i class="submitContentIcon">
						<img src="images/dummy/clipboard.png" />
					</i>
					<div class="submitContentItem">
						<div class="submitContentItemText">
							<h2>Link from Clipboard</h2>
							<p>Copy a link to a website, image or YouTube video and paste it here to share.</p>
						</div>
						<i class="arrow">&rsaquo;</i>
					</div>
				</a>
			</li>
			<li>
				<a href="#/notsupported">
					<i class="submitContentIcon">
						<img src="images/dummy/upload.png" />
					</i>
					<div class="submitContentItem">
						<div class="submitContentItemText">
							<h2>Upload Image</h2>
							<p>Choose a photo from your phone’s camera roll to upload.
</p>
						</div>
						<i class="arrow">&rsaquo;</i>
					</div>
				</a>
			</li>
			<li>
				<a href="#/notsupported">
					<i class="submitContentIcon">
						<img src="images/dummy/browser.png" />
					</i>
					<div class="submitContentItem">
						<div class="submitContentItemText">
							<h2>Browse the Web</h2>
							<p>Use our in-app browser to find the web link or YouTube video you’re looking for.</p>
						</div>
						<i class="arrow">&rsaquo;</i>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>