<div class="mainContent submitlink">
  <p class="submitdesc">
    <b>Important Note:</b> Only images and YouTube videos are supported at this time. For
    images, please copy a direct link to the file. For videos, any link to youtube (desktop,
    mobile or embed code) will work.
  </p><br/>
  <label for="link_url">Paste a URL here</label>
	<input type="text" name="link_url"
    ng-model="link.link" ng-model-options="{debounce:1000}" ng-change="link.changed()" />

  <label for="link_url" ng-bind="link.preview.title || 'Preview'"></label>
  <ff-content class="preview" ng-class="{loading: link.loading, loaded: link.loaded}"
      content="link.preview" thumbnail="false"></ff-content>

  <div ng-show="link.loaded">

    <textarea placeholder="Add a note (optional)" id="link_note" ng-model="link.preview.text">
    </textarea>

    <div class="buttonrow">
      <button type="button" class="secondary" ng-click="link.cancel()">CANCEL</button>
      <button type="button" class="primary" ng-click="link.post()">POST</button>
    </div>
  </div>

</div>
