@import "style.scss";
@import '../directives/floating-content/_style.scss';

html, body {
	background-color: $background-dark;
	overflow: hidden;
}

footer {
	text-align: left;
	color: white;
	font-size: 16px;
	position: absolute;
	padding: 15px;
	bottom: 15px;
	width: 100%;
	height: 16px;
	box-sizing: border-box;
	font-weight: 300;
	
	a {
		color: white;
		text-decoration: none;
		
		b {
			font-weight: 900;
			letter-spacing: 1px;
		}
	}
	
	img {
		height: 16px;
		float: right;
		
		&.logo {
			position: relative;
			bottom: 2px;
		}
	}
}


// Presentation Main Page
body.presentation {
	background: $background-dark;
	margin-bottom: 0;

	.row, .slides {
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		perspective: 2000px;
		
		&.hasFooter {
			bottom: 40px;
		}
	}
	
	.overlayContainer{
		width: 100%;
		text-align: center;
		
		opacity: 0;
		&.visible {
			opacity: 1;
		}
	}
	
	.overlayContent, .overlayContent *  {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	img.overlay{
		max-width: 100%;
		max-height: 98%;
	}

	iframe.overlay{
		width: 100%;
		height: 98%;
	}

	aside {
		margin: 0;
		padding: 0;
		width: 32vw;
		margin: 3vw;
		
		h1 {
			margin-bottom: 10px;
		}
	}
}

floating-content {
	z-index: 100;
}

.ffQuestion {
	width: 100%;
	z-index: 50;
	
	* {
		font-family: "Roboto",sans-serif;
		font-size: 15pt;
		color: black;
		font-weight: 400;
		line-height: 130%;
	}
	
	p, p span, cite, cite span {
		font-weight: 800;
		font-size: 13pt;
	}
	
	cite {
		padding-top: 0;
	}
	
	&.reply {
		background-color: $callout-light;
		
		&::after {
			border-color: $callout-light transparent;
		}
	}
}

// ANIMATIONS ==============================================================================

floating-content.ng-enter {
	transition: opacity 150ms ease-out, transform 250ms ease-out;
	transform: rotateX(15deg);
	transform-origin: 50% 0%;
	opacity: 0;
	transform-style: preserve-3d;
}

floating-content.ng-enter-active {
	transform: rotateX(0deg);
	opacity: 1;
}

.slides.background-add {
	animation: background_slides 450ms linear;
	-webkit-animation: background_slides 450ms linear;
}

.slides.background-remove {
	opacity: 0.66;
	transform: scale(0.94) rotateX(0deg);
	animation: foreground_slides 300ms linear 200ms;
	-webkit-animation: foreground_slides 300ms linear 200ms;
}

.slides.background {
	opacity: 0.66;
	transform: scale(0.94);
}

@keyframes background_slides {
	0% {
		opacity: 1;
		transform: scale(1) rotateX(-1deg);
	}
	40% {
		opacity: 1;
		transform: scale(0.97) rotateX(-12deg);
	}
	100% {
		opacity: 0.66;
		transform: scale(0.94) rotateX(0deg);
	}
}

@-webkit-keyframes background_slides {
	0% {
		opacity: 1;
		transform: scale(1) rotateX(-1deg);
	}
	40% {
		opacity: 1;
		transform: scale(0.97) rotateX(-12deg);
	}
	100% {
		opacity: 0.66;
		transform: scale(0.94) rotateX(0deg);
	}
}

@keyframes foreground_slides {
	0% {
		opacity: 0.66;
		transform: scale(0.94) rotateX(0deg);
	}
	100% {
		opacity: 1;
		transform: scale(1) rotateX(0deg);
	}
}

@-webkit-keyframes foreground_slides {
	0% {
		opacity: 0.66;
		transform: scale(0.94) rotateX(0deg);
	}
	100% {
		opacity: 1;
		transform: scale(1) rotateX(0deg);
	}
}

.slides.aside-add, .slides.aside-remove {
	transform: scale(1) rotateY(0deg) translateX(0vw);
	transition: transform 400ms ease-in-out;
}

.slides.aside {
	transform: scale(0.5) rotateY(20deg) translateX(-38vw);
	transition: transform 400ms ease-in-out;
}

aside.ng-hide-remove, aside.ng-hide-add {
	left: 35vw;
}

aside {
	position: relative;
	transition: left 175ms ease-out 0ms;
	left: 0vw; 	
}

.overlayContainer {
	transition: opacity 300ms ease-out 200ms;
	
	ng-transclude {
		transition: top 300ms ease-out;
	}
}

.overlayContainer.visible-add ng-transclude, .overlayContainer.visible-remove ng-transclude {
	top: 100vh !important;
}

.overlayContainer.visible { 
	transition: inherit;
	
	ng-transclude {
		transition: top 300ms ease-out 150ms;
		top: 0vh;
	}
}