@import "style.scss";

html#presenter{
	height: 100%;
	min-height: initial;
}

body.presenter {
	background: $background-dark;
	height: 100%;
	margin: 0;

	header {
		background: $primary-brand;
		padding: 10px;

		h2 {
			display: inline-block;

			&.presName{
				font-family: $content-font-stack;
				color: #fff;
			}

			&.mainTitle {
				text-transform: uppercase;
				color: $primary-yellow-light;

				&:first-letter {
					font-size: 115%;
				}
			}
		}
	}

	div.mainConsole {
		height: 93%;

		div.livePresentation {
			margin: 10px;

			iframe#presPreview, .fakePreview {
				display: block;
				margin-bottom: 10px;
			}

			.fakePreviewContain {
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				height: 500px;
				width: 100%;

				.fakePreview{
					background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
					text-align: center;
					width: 100%;
					height: 500px;

					button.startPresentation{
						margin-top: 200px;
						background-color: $callout-light;
						height: 50px;
						font-size: 28px;
					}
				}
			}

			button.endPresentation{
				background-color: #fff;
			}

			button.button-primary{
				width: 185px;
			}

			button:disabled{
				background-color: #aaa;
				border-color: #aaa;
				cursor: not-allowed;
			}

			div.nextSlidePreviewContainer{
				margin-top: 10px;

				img.nextSlidePreview{
					height: 200px;
				}
			}
		}

		div.contentBoxColumn {
			height: 100%;

			div.contentBox {
				background: $background-light;
				color: $content-text-darkest;
				height: 99%;

				div.noContent {
					text-align: center;
					font-size: 15px;
					color: $content-text-dark;
					padding-top: 200px;
				}

				div.contentBoxContentContainer {
					padding: 10px 10px 0;
					height: calc(100% - 40px);
					overflow-y: auto;

					div.ffContentBox {
						margin-bottom: 10px;
					}
				}

				h2, h3, h5, p {
					color: $content-text-darkest;
					margin-bottom: 10px;
				}

				h2 {
					margin: 10px 10px 0;
					padding-top: 10px;
				}
			}
		}
	}
}
