// Import main Google Fonts Montserrat and Roboto
@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

// Import reset
@import url('reset.css');
@import url('skeleton.css');
@import 'colors';

// Define typography
$title-font-stack: 'Montserrat', sans-serif;
$content-font-stack: 'Roboto', sans-serif;

// Import components
@import '../directives/ff-content/_style.scss';
@import '../directives/ff-content-box/_style.scss';
@import '../directives/ff-question/_style.scss';

// ************************* //
html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: $content-font-stack;
	margin: 0 0 50px;
}
body.splash {
	background-color: $primary-brand;
}

h1, h2, h3, h4, h5, h6 {
	color: $content-text-light;
	font-family: $title-font-stack;
	font-weight: bold;
	letter-spacing: 1px;
}

h1 {
	font-size: 24px;
	line-height: 1.25;
}
h2 {
	font-size: 16px;
	line-height: 1.3;
}
h3 {
	font-size: 14px;
	margin-bottom: 0.5em;
}

p {
	font-size: 14px;
	line-height: 1.25;
	color: $content-text-light;
}

hr {
	opacity: 0.7;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), $primary-yellow-light 50%, rgba(255, 255, 255, 0));
}

// Audience Main Page
.mainContent {
	max-width: 380px;
	padding: 30px 0;

	h1.mainTitle {
		color: $primary-yellow-light;
		text-align: center;
		text-transform: uppercase;
		&:first-letter {
			font-size: 115%;
		}
	}
	
	div.splashOverview {
		h2 {
			text-align: center;
			margin: 1.75em 0;
			color: $content-text-light;
		}
		div.splashContent {
			margin-bottom: 35px;
		}
		div.intro-left {
			width: 25%;
			float: left;
		}
		div.intro-right {
			width: 75%;
			float: right;
		}
		div.intro-text {
			padding: 0 0 0 1.5em;
		}
	}

	div.getStarted {
		text-align: center;
		 a {
			display: block;
			padding: 0.75em 0;
			text-decoration: none;
			&:hover {
				h3 {
					color: $primary-yellow-light;
				}
			}
		}
		span {
			float: left;
			color: $secondary-green;
		}
		h3 {
			margin: 0;
			font-style: italic;
			:before {
				content: '+';
				margin-right: 15px;
				font-style: normal;
				color: $secondary-green;
			}
		}
	}
}

footer {
	background: $primary-brand;
	text-align: center;
	color: $content-text-light;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	a {
		color: $content-text-light;
		text-decoration: none;
		text-transform: uppercase;
	}
	ul {
		display: inline-block;
		vertical-align: top;
		li {
			display: inline-block;
			vertical-align: top;
			a {
				padding: 0.5em 1em;
				:hover {
					color: $primary-yellow-light;
				}
			}
			&:after {
				content: '\2022';
			}
			&:last-child {
				font-weight: bold;
				&:after {
					content: none;
				}
			}
		}
	}
}

// Class Listings
.classList {
	ul {
		li {
			margin-bottom: 0.5em;
			a {
				display: block;
				text-decoration: none;
				&:hover {
					h2, h3 {
						color: $primary-yellow-light;
					}
				}
			}
		}
	}
	.classListItem {
		display: table;	
	}	
	.classListItemDot {
		display: table-cell;
		vertical-align: middle;
		h2 {
			color: $secondary-green;
		}
	}	
	.classListItemText {
		display: table-cell;
		vertical-align: middle;
		padding-left: 2em;
	}
	.classListItemLecture {
		padding: 1em 0;
		h3 {
			font-weight: normal;
			font-size: 12px;
			margin: 0.5em 0 0;
		}
	}
}




// Pulsing Live Dot
// http://jsfiddle.net/24GXr/

.no-pulse {
	display: block;
	margin: 0 auto;
	width: 10px;
	height: 10px;
	background-color: $secondary-green;
	border-radius: 5px;
}

.pulse {
	display: block;
	margin: 0 auto;
	width: 10px;
	height: 10px;
	background-color: $primary-yellow-light;
	border-radius: 5px;
	-webkit-animation-name: Pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	transition-timing-function: ease-in-out;
}

@-webkit-keyframes Pulse {
    from {
        background-color: $primary-yellow-light;
        -webkit-box-shadow: 0 0 9px $primary-yellow-dark;
    }
    50% {
        background-color: $primary-yellow-light;
        -webkit-box-shadow: 0 0 18px $primary-yellow-light;
    }
    to {
        background-color: $primary-yellow-light;
        -webkit-box-shadow: 0 0 9px $primary-yellow-dark;
    }
}

// Viewer Lower Nav Bar
nav.viewer {
	background: $primary-brand;
	width: 100%;
	position: fixed;
	bottom: 0;
	ul {
		display: flex;
		flex-direction: row;
		li {
			list-style: none;
			flex-grow: 1;
			text-align: center;
			a {
				display: block;
				text-decoration: none;
				padding: 5px 0;
				.active {
					h1, span {
						color: $primary-yellow-light;
					}
				}
				&:hover {
					h1, span {
						color: $primary-yellow-light;
					}
				}
				span {
					color: $content-text-light;
					font-size: 12px;
				}
				h1 {
					font-family: $title-font-stack;
					font-size: 10px;
					text-transform: uppercase;
				}
			}
		}
	}
}

// Presenter Main Page
html#presenter{
	height: 100%;
	min-height: initial;
}

body.presenter {
	background: $background-dark;
	height: 100%;
	margin: 0;

	header {
		background: $primary-brand;
		padding: 10px;

		h2 {
			display: inline-block;

			&.presName{
				font-family: $content-font-stack;
				color: #fff;
			}

			&.mainTitle {
				text-transform: uppercase;
				color: $primary-yellow-light;

				&:first-letter {
					font-size: 115%;
				}
			}
		}
	}

	div.mainConsole{
		height: 93%;

		div.livePresentation{
			margin: 10px;
		}

		div.contentBoxColumn{
			height: 100%;

			div.contentBox {
				background: $background-light;
				color: $content-text-darkest;
				margin: 10px 10px 0;
				padding: 10px 10px 0;
				max-height: 99%;
				overflow-y: auto;

				div.ffContentBox{
					margin-bottom: 10px;
				}

				h2, h3, h5, p{
					color: $content-text-darkest;
					margin-bottom: 10px;
				}
			}
		}
	}
}

// Presentation Main Page
body.presentation {
	background: $background-dark;

	img.slide{
		position: absolute;
	}

	.overlayContainer{
		width: 100%;
		text-align: center;
	}

	img.overlay{
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		bottom: 100px;
		max-width: 90%;
		max-height: 90%;
	}

	aside {
		margin: 0;
		padding: 0;
		width: 17.333333% !important;

		div.contentBox {
			color: $content-text-darkest;
			padding: 10px 10px 0;
			max-height: 99%;
			overflow-y: auto;

			div.ffContentBox, h1, h3, p {
				margin-bottom: 10px;
			}
			
			p, h3 {
				color: $content-text-darkest;
			}

			h1 {
				color: $callout-light;
			}
		}
	}
}
