// Import main Google Fonts Montserrat and Roboto
@import url(https://fonts.googleapis.com/css?family=Montserrat:400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

// Import reset
@import url('reset.css');
@import url('skeleton.css');
@import 'colors';

// Define typography
$title-font-stack: 'Montserrat', sans-serif;
$content-font-stack: 'Roboto', sans-serif;

// Import components
@import '../directives/ff-content/_style.scss';
@import '../directives/ff-content-box/_style.scss';
@import '../directives/ff-question/_style.scss';

// ************************* //
html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: $content-font-stack;
	margin: 0 0 50px;
}
body.splash {
	background-color: $primary-brand;
}

h1, h2, h3, h4, h5, h6 {
	color: $content-text-light;
	font-family: $title-font-stack;
	font-weight: bold;
	letter-spacing: 1px;
}

h1 {
	font-size: 24px;
	line-height: 1.25;
}
h2 {
	font-size: 16px;
	line-height: 1.3;
}
h3 {
	font-size: 14px;
	margin-bottom: 0.5em;
}

p {
	font-size: 14px;
	line-height: 1.25;
	color: $content-text-light;
}

hr {
	opacity: 0.7;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), $primary-yellow-light 50%, rgba(255, 255, 255, 0));
}

// Audience Main Page
.mainContent {
	max-width: 380px;
	padding: 30px 0;

	h1.mainTitle {
		color: $primary-yellow-light;
		text-align: center;
		text-transform: uppercase;
		&:first-letter {
			font-size: 115%;
		}
	}
	
	div.splashOverview {
		h2 {
			text-align: center;
			margin: 1.75em 0;
			color: $content-text-light;
		}
		div.splashContent {
			margin-bottom: 35px;
		}
		div.intro-left {
			width: 25%;
			float: left;
		}
		div.intro-right {
			width: 75%;
			float: right;
		}
		div.intro-text {
			padding: 0 0 0 1.5em;
		}
		input.nobox {
			color: white;
			border: none;
			text-align: left;
			font-style: normal;
		}
	}

	div.getStarted {
		text-align: center;
		 a {
			display: block;
			padding: 0.75em 0;
			text-decoration: none;
			&:hover {
				h3 {
					color: $primary-yellow-light;
				}
			}
		}
		span {
			float: left;
			color: $secondary-green;
		}
		h3 {
			margin: 0;
			font-style: italic;
			:before {
				content: '+';
				margin-right: 15px;
				font-style: normal;
				color: $secondary-green;
			}
		}
	}
}

// Class Listings
.classList {
	ul {
		li {
			margin-bottom: 0.5em;
			a {
				display: block;
				text-decoration: none;
				&:hover {
					h2, h3 {
						color: $primary-yellow-light;
					}
				}
			}
		}
	}
	.classListItem {
		display: table;	
	}	
	.classListItemDot {
		display: table-cell;
		vertical-align: middle;
		h2 {
			color: $secondary-green;
		}
	}	
	.classListItemText {
		display: table-cell;
		vertical-align: middle;
		padding-left: 2em;
	}
	.classListItemLecture {
		padding: 1em 0;
		h3 {
			font-weight: normal;
			font-size: 12px;
			margin: 0.5em 0 0;
		}
	}
}




// Pulsing Live Dot
// http://jsfiddle.net/24GXr/

.no-pulse {
	display: block;
	margin: 0 auto;
	width: 10px;
	height: 10px;
	background-color: $secondary-green;
	border-radius: 5px;
}

.pulse {
	display: block;
	margin: 0 auto;
	width: 10px;
	height: 10px;
	background-color: $primary-yellow-light;
	border-radius: 5px;
	-webkit-animation-name: Pulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	transition-timing-function: ease-in-out;
}
.darkPulse {
	display: inline-block;
	margin: 0 auto;
	width: 10px;
	height: 10px;
	background-color: $content-text-darker;
	border-radius: 5px;
	-webkit-animation-name: darkPulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	transition-timing-function: ease-in-out;
}

@-webkit-keyframes Pulse {
    from {
        background-color: $primary-yellow-light;
        -webkit-box-shadow: 0 0 9px $primary-yellow-dark;
    }
    50% {
        background-color: $primary-yellow-light;
        -webkit-box-shadow: 0 0 18px $primary-yellow-light;
    }
    to {
        background-color: $primary-yellow-light;
        -webkit-box-shadow: 0 0 9px $primary-yellow-dark;
    }
}

@-webkit-keyframes darkPulse {
    from {
        background-color: $content-text-dark;
        -webkit-box-shadow: 0 0 9px $content-text-darker;
    }
    50% {
        background-color: $content-text-dark;
        -webkit-box-shadow: 0 0 18px $content-text-dark;
    }
    to {
        background-color: $content-text-dark;
        -webkit-box-shadow: 0 0 9px $content-text-darker;
    }
}

// Viewer Lower Nav Bar
nav.viewer {
	background: $primary-brand;
	width: 100%;
	position: fixed;
	bottom: 0;
	ul {
		display: flex;
		flex-direction: row;
		li {
			list-style: none;
			flex-grow: 1;
			text-align: center;
			a {
				display: block;
				text-decoration: none;
				padding: 5px 0;
				&.active {
					h1, span {
						color: $primary-yellow-light;
					}
				}
				&:hover {
					h1, span {
						color: $primary-yellow-light;
					}
				}
				span {
					color: $content-text-light;
					font-size: 12px;
					img {
						width: 60px;
					}
				}
				h1 {
					font-family: $title-font-stack;
					font-size: 10px;
					text-transform: uppercase;
				}
			}
		}
	}
}

// Audience Views
body.audience {
	&.submitPage {
		background: $callout-light;
	}
	background: $background-light;
	.mainContent {
		// Ask Question Page
		.pastQuestions {
			margin-top: 40px;
		}
		// Submit Content Page
		.submitContent {
			ul {
				li {
					background: $background-light;
					border-bottom: 1px solid $content-border; 
					padding: 1em 2em;
					a {
						display: inline-block;
						padding: 1em 0;
						i.submitContentIcon {
							float: left;
							width: 20%;
							color: $content-text-dark;
							img {
								width: 35px;
								padding: 1em 0 0 0;
							}
						}
						div.submitContentItem {
							float: right;
							width: 80%;
							div.submitContentItemText {
								float: left;
								width: 85%;
								h2, p {
									color: $content-text-darkest;
								}
							}
							i.arrow {
								width: 15%;
								float: right;
								font-size: 36px;
								color: $content-text-darker;
								text-align: right;
							}
						}
					}
				}
			}
		}
		// History Page
		.history {
			div.currentClass {
				margin-bottom: 1em;
				display: block;
				h2 {
					color: $content-text-dark;
					float: left;
				}
				a {
					color: $primary-brand;
					font-style: italic;
					text-decoration: none;
					float: right;
				}
			}
			ul {
				li {
					margin-bottom: 1em;
					a {
						text-decoration: none;
						border: 1px solid $content-border;
						display: inline-block;
						width: 100%;
						div.historyItem {
							display: inline-block;
							padding: 1em;
							&.live {
								width: 80%;
							}
						}
						div.historyTitle {
							float: left;
							h2 {
								color: $content-text-darker;
							}
							p {
								color: $content-text-dark;
							}
						}
						div.historyPulse {
							display: inline-block;
							float: right;
							position: absolute;
							right: 1em;
							padding: 0.5em;
						}
					}
				}
			}
		}
		h4 {
			color: $content-text-dark;
			margin: 1em 0;
		}
		form {
			textarea {
				font-size: 14px;
				width: 100%;
				min-height: 100px;
				resize: none;
			}
		}
	}
}
div.header {
	background: $background-light;
	display: inline-block;
	width: 100%;
	box-shadow: 0 5px 5px $callout-light;
	h2 {
		color: $content-text-darker;
		padding: 1em;
		float: left;
	}
	div.darkPulse {
		float: right;
		margin: 1.25em 2em;
	}
}

// Presenter Main Page
html#presenter{
	height: 100%;
	min-height: initial;
}

body.presenter {
	background: $background-dark;
	height: 100%;
	margin: 0;

	header {
		background: $primary-brand;
		padding: 10px;

		h2 {
			display: inline-block;

			&.presName{
				font-family: $content-font-stack;
				color: #fff;
			}

			&.mainTitle {
				text-transform: uppercase;
				color: $primary-yellow-light;

				&:first-letter {
					font-size: 115%;
				}
			}
		}
	}

	div.mainConsole {
		height: 93%;

		div.livePresentation {
			margin: 10px;

			iframe#presPreview {
				display: block;
				margin-bottom: 10px;
			}

			button.endPresentation{
				background-color: #fff;
				float: right;
			}
		}

		div.contentBoxColumn {
			height: 100%;

			div.contentBox {
				background: $background-light;
				color: $content-text-darkest;
				margin: 10px 10px 0;
				padding: 10px 10px 0;
				max-height: 99%;
				overflow-y: auto;

				div.ffContentBox {
					margin-bottom: 10px;
				}

				h2, h3, h5, p {
					color: $content-text-darkest;
					margin-bottom: 10px;
				}
			}
		}
	}
}


// Component CSS
// merge later into final component directories?

@import '../directives/ff-content-box/_style.scss';
@import '../directives/ff-question/_style.scss';

.ffContentBox {
  width: 100%;
  margin-bottom: 1em;
}

div.pastSubmissions {
	h1, h2, h3, h4, h5, span, p {
		color: $content-text-darkest;		
	}
	b {
		font-style: bold;
	}
	cite {
		font-style: italic;
	}
}


// Upload Page
@-webkit-keyframes CandyBar {
	from { background-position: 0 0; }
	to { background-position: 60px 0; }
}
div.uploadPresentation {
	border-left: 2px solid $primary-yellow-dark;
	color: #FFFFFF;
	div.presentationDropZone {
		margin: 1em 0 2em 0;
		padding: 2em 0;
		border: 1px dashed $content-text-light;
		h1 {
			font-style: normal;
			text-align: center;
		}
		&.highlight {
			border: 1px dashed $primary-yellow-light;
		}
	}
	div.presentationUploader {
		padding: 1em 0 0 1em;
		input {
			border-color: #FFFFFF;
			margin-bottom: 1em;
			color: #FFFFFF;
		}
		input[type="text"] {
			width: 100%;
			background-color: $primary-brand;
			font-size: 14px;
			line-height: 14px;
		}
		*::-webkit-input-placeholder {
			color: #FFFFFF;
			font-size: 14px;
			line-height: 14px;
		}
		progress {
			-webkit-appearance: none !important;
			display: none;
			background-color: $primary-yellow-light;
			width: 100%;
			display: block;
			position: relative;

			&::-webkit-progress-bar {
				background-color: $primary-yellow-light;
			}
		}
		progress[value]::after {
			position: absolute;
			top: 0;
			content: "";
			width: 100%;
			height: 100%;
			display: block;
			background: linear-gradient(135deg, $secondary-green 25%, $primary-yellow-light 25%,
				$primary-yellow-light 50%, $secondary-green 50%, $secondary-green 75%,
				$primary-yellow-light 75%, $primary-yellow-light);
			background-size: 60px 60px;
			background-repeat: repeat;
			animation: CandyBar 1s linear infinite;
		}
		span.upstart {
			display: block;
			margin: 0.5em 0;
		}
	}
	ul.uploadOptions {
		padding: 1em 0;
		li {
			margin-bottom: 1em;
			&:last-child {
				margin-bottom: 0;
			}
			a, input {
				width: 100%;
				display: inline-block;
				color: #FFFFFF;
				text-decoration: none;
				border-top: 1px solid $secondary-green;
				padding: 1em 0 0 16px;
				font-style: italic;
				&:hover {
					color: $primary-yellow-light;
				}
			}
		}
	}
}
























