<!doctype html>
<html>
	<head>
		<title>Presentation</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
		<script src="js/presenter/master.js"></script>
	</head>
	<body ng-app="presenter">
		<div ng-controller="SlideCtrl as sc">
			<button ng-click="sc.startPresentation()" ng-show="!sc.presRunning">Start presentation!</button>
			<div ng-show="sc.presRunning">
				<img ng-src="{{ sc.currentSlideId }}">
				<img ng-src="{{ sc.nextSlideId }}">
				<button ng-show="sc.currentSlide > 0" ng-click="sc.prevSlide()">Previous</button>
				<button ng-show="sc.currentSlide < sc.slideCount-1" ng-click="sc.nextSlide()">Next</button>
			</div>
			<div ng-show="sc.error">{{ sc.error }}</div>
		</div>
	</body>
</html>