<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Presentation</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
		<script src="js/presentation/master.js"></script>
		<script src="js/presentation/templates.js"></script>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body ng-app="presentation" ng-controller="ViewableCtrl as vc" class="presentation">
		<div class="row">
			<div style="background-image: url('{{ vc.slideUrl }}');" class="slide" ng-class="{'u-full-width': !vc.qaActive, 'ten columns': vc.qaActive}"/></div>
			<div class="overlayContainer">
				<img ng-if="!vc.overlayIsVideo" ng-src="{{ vc.overlayUrl }}" ng-show="vc.overlayActive" class="overlay"/>
				<iframe ng-if="vc.overlayIsVideo" src="{{ vc.overlayUrl }}" ng-show="vc.overlayActive" class="overlay" frameborder="0"></iframe>
			</div>
			<aside ng-if="vc.qaActive" class="u-pull-right two columns">
				<div class="contentBox">
					<h1>A Question</h1>
					<ff-content-box display="0" content="vc.question" expanded="1"></ff-content-box>
				</div>
			</aside>
		</div>
		<footer ng-if="vc.accessLink" class="accessLink">
			Join the presentation at {{ vc.accessLink }}
		</footer>
	</body>
</html>