<!doctype html>
<html lang="en" id="presenter">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Firefly Presenter</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
		<script src="https://raw.githubusercontent.com/kylewelsby/angular-post-message/master/dist/angular-post-message.js"></script>
		<script src="js/presenter/master.js"></script>
		<script src="js/presenter/templates.js"></script>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body ng-app="presenter" ng-controller="SlideCtrl as sc" class="presenter">
		<header>
			<span><h2 class="presName">{{ sc.presName }}</h2></span>
			<span><h2 class="mainTitle u-pull-right">Firefly</h2></span>
		</header>
		<div ng-controller="ContentCtrl as cnc" class="row mainConsole">
				<div class="six columns">
					<div class="livePresentation">
						<img ng-src="{{ sc.slideUrls[sc.currentSlide] }}" class="u-max-full-width">
						<button ng-click="sc.startPresentation()" ng-show="!sc.presRunning" class="button-primary">Start presentation!</button>
						<button ng-show="sc.presRunning && sc.currentSlide > 0" ng-click="sc.prevSlide()" class="button-primary">Previous</button>
						<button ng-show="sc.presRunning && sc.currentSlide < sc.slideCount-1" ng-click="sc.nextSlide()" class="button-primary">Next</button>
					</div>
				</div>
				<div class="three columns container contentBoxColumn">
					<div class="contentBox">
						<h2>Content</h2>
						<div ng-repeat="submission in cnc.content">
							<ff-content-box 
								display="0" content="submission" expanded="1" show-thumbnail="0"
								
							></ff-content-box>
						</div>
					</div>
				</div>
				<div class="three columns container contentBoxColumn">
					<div class="contentBox">
						<h2>Questions</h2>
						<div ng-repeat="question in cnc.questions">
							<ff-content-box display="0" content="question" expanded="1"></ff-content-box>
						</div>
					</div>
				</div>
		</div>
		<div ng-show="sc.error">{{ sc.error }}</div>
	</body>
</html>