<!doctype html>
<html lang="en" ng-app="presentation" ng-controller="AppController as app">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Presentation</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
		<script src="js/presentation/master.js"></script>
		<script src="js/presentation/templates.js"></script>
		<link rel="stylesheet" href="css/presentation.css">
	</head>
	<body ng-controller="ViewableCtrl as vc" class="presentation">
		<div class="row" ng-class="{hasFooter: vc.accessLink}">
			<floating-content float-x="0.5" float-y="0.5" size="0.98" content-width="1024" content-height="768">
				<img ng-src="{{ vc.slideUrl }}" alt="">
			</floating-content>
			<div class="overlayContainer">
				<img ng-if="!vc.overlayIsVideo" ng-src="{{ vc.overlayUrl }}" ng-show="vc.overlayActive" class="overlay"/>
				<iframe ng-if="vc.overlayIsVideo" ng-src="{{ vc.overlayUrl }}" ng-show="vc.overlayActive" class="overlay" frameborder="0"></iframe>
			</div>
			<aside ng-if="vc.qaActive" class="u-pull-right two columns">
				<div class="contentBox">
					<h1>A Question</h1>
					<ff-content-box display="0" content="vc.question" expanded="1"></ff-content-box>
				</div>
			</aside>
		</div>
		<footer ng-if="vc.accessLink" class="accessLink">
			<a ng-href="{{vc.accessLink}}">Join the presentation at <b>{{ vc.accessLink }}</b></a>
			<img ng-show="vc.loading" src="./images/Pres-Loader.gif" alt="Loading" class="loader">
		</footer>
	</body>
</html>