@import "../ff-content/_style.scss";

.ffContentBox {
  display: block;
  overflow: auto;
  cursor: pointer;
  overflow: hidden;

  border: 1px solid $content-border;
  border-radius: 2px;
  background-color: $callout-light;

  transition: box-shadow 200ms ease-out, background-color 200ms ease-out;
  box-shadow: $standard-shadow;
  &.expanded {
    background-color: $callout-lightest;
    box-shadow: $highlight-shadow;
  }

  // Top Content
  ff-content {
    max-width: 100%;
  }

  // Description Block
  .desc {
    padding: 2%;
    display: flex;
    align-items: center;

    > * {
      padding: 0;
      margin: 0
    }

    ff-content {
      width: 30%;
    }

    .meta {
      width: 62%;
      margin-left: 6%;
    }
  }


  h2 {
    margin-top: 0px;
    margin-bottom: 8px;
  }

  .bottomrow {
    position: relative;
    font-size: 10pt;
    height: 27px;

    cite {
      position: absolute;
      left: 0;
    }

    p {
      margin: 0;
      position: absolute;
      right: 0;
      font-weight: bold;
    }
  }

}
